{% extends '../../projects.html' %}
{% load static %}

{% block title %}
	Internships | Kenneth Chen
{% endblock %}

{% block breadcrumbs %}
	<li class="breadcrumb-item"><a href="{% url 'projects' %}">Home</a></li>
	{% block lvl2Crumbs %}
    	<li class="breadcrumb-item active" aria-current="page">Internships</li>
    {% endblock %}
{% endblock %}

{% block activeHome %}
{% endblock %}

{% block activeIntern %}
	active
{% endblock %}

{% block projectContent %}
	<div class="Projects">
		<h2>Internships</h2>
		<p>I've been fortunate enough to have been an intern during every summer so far in college and work on real projects for each employer. While I'm unable to go into specifics for some of these projects, I am able to give some details and talk about what I did.</p>
		<div class="Projects-categories">
			<a href="{% url 'yext' %}" class="ImageButton btn btn-outline-primary" role="button">
				Yext
				<img src="{% static "personalsite/images/yext.jpg" %}" alt="Yext Image">
			</a>
			<a href="{% url 'dahlgren' %}" class="ImageButton btn btn-outline-primary" role="button">
				Naval Surface Warfare Center
				<img src="{% static "personalsite/images/dahlgren.jpg" %}" alt="NSWCDD Image">
			</a>
		</div>
	</div>
{% endblock %}