@media(min-width: 768px) {
	.ImageButton {
		width: 25%;
		height: auto;

		margin-left: 1%;
		margin-right: 1%;
	}
}

.ImageButton-home > img,
.ImageButton > img {
	display: block;
	margin-left: auto;
	margin-right: auto;

	width: 75%;
	height: auto;
}

.ImageButton-home {
	width: 80%;
	min-height: 100px;
	height: auto !important;
}