.Slideshow {
	height: 500px;
	width: 100%;

	background: black;

	margin-bottom: 20px;
}

.carousel-item-next > img,
.carousel-item-prev > img,
.carousel-item.active > img {
	height: 500px;
	width: auto;

	margin-left: auto;
	margin-right: auto;
}