{% extends './sgdGames.html' %}
{% load static %}

{% block title %}
	Bard's Tale | Kenneth Chen
{% endblock %}

{% block lvl2Crumbs %}
	<li class="breadcrumb-item"><a href="{% url 'sgd' %}">SGD Games</a></li>
    <li class="breadcrumb-item active" aria-current="page">Bard's Tale</li>
{% endblock %}

{% block projectContent %}
	<div class="BardTale">
		<h2>A Bard's Tale</h2>
		<p>I've been a part of this game for two semesters and it's been a different idea each semester.</p>
		<p>The initial idea was a game where you played as a bard travelling the land in search on companions to vanquish evil. However, the twist is that your only controls are the chords that you play. How you play the chords will affect how your companions feel and act in battle. Sequences of chords could make allies attack or flee. I worked on programming the system to judge qualities of music that our team lead came up with, the general UI of the game, and setting up the class structure that the characters and enemies will be based around. The github repository can be found <a href="https://github.com/UVASGD/spring-2018-a-bard-s-tale" target="_blank">here</a>.</p>
		<p>The next semester, the leads must have realized that their initial idea was too big to be created in a single semester, so they changed the idea to have a bard exploring a dungeon using a magical lute to cast spells. The player still controlled the notes that the bard would play, and different sequences of notes would trigger different spells. Again, I chose to work on the mechanics dealing with the music and determining what notes to play at each key-press. The new github repository can be found <a href="https://github.com/UVASGD/fall-2018-bard-s-tale" target="_blank">here</a>.</p>
	</div>
{% endblock %}
