{% extends '../../projects.html' %}
{% load static %}

{% block title %}
	HooHacks | Kenneth Chen
{% endblock %}

{% block breadcrumbs %}
	<li class="breadcrumb-item"><a href="{% url 'projects' %}">Home</a></li>
	{% block lvl2Crumbs %}
    	<li class="breadcrumb-item active" aria-current="page">HooHacks</li>
    {% endblock %}
{% endblock %}

{% block activeHome %}
{% endblock %}

{% block activeHooHacks %}
	active
{% endblock %}

{% block projectContent %}
	<div class="Projects">
		<h2>HooHacks (formerly HackUVA)</h2>
		<p>HackUVA is the University of Virginia's annual 24-hour hackathon organized by the student-run HackUVA committee. For those unfamiliar, hackathons are events where participants have a set time, typically 24 or 36 hours, to make something that solves a problem, whether it be an application or even some hardware. Typically hackathons will have themes or challenges for participants to base their projects around. For example, in 2018, HackUVA's themes were Safety, Equality, and Empowerment. </p>
		<p>HackUVA 2017 was the first hackathon that I ever participated in and I've enjoyed working with friends to create something while learning new technologies and languages that they know about. Here are the projects that I've been a part of so far:</p>
		<div class="Projects-categories">
			<a href="{% url 'simplisci' %}" class="ImageButton btn btn-outline-primary" role="button">
				Simplisci <br>(winner: Domain Name)
				<img src="{% static "personalsite/images/hoohacks.png" %}" alt="HooHacks Image">
			</a>
			<a href="{% url 'normalizer' %}" class="ImageButton btn btn-outline-primary" role="button">
				Face Normalizer <br>(winner: Equality Challenge)
				<img src="{% static "personalsite/images/hoohacks.png" %}" alt="HooHacks Image">
			</a>
		</div>
	</div>
{% endblock %}