{% extends './hoohacks.html' %}
{% load static %}

{% block title %}
	Simplisci | Kenneth Chen
{% endblock %}

{% block lvl2Crumbs %}
	<li class="breadcrumb-item"><a href="{% url 'hoohacks' %}">HooHacks</a></li>
    <li class="breadcrumb-item active" aria-current="page">Simplisci</li>
{% endblock %}

{% block projectContent %}
	<div class="Simplisci">
		<h2>Simplisci</h2>
		<p>For HackUVA 2017, our team came up with Simplisci, which is a web application that uses IBM Watson's Natural Language Processing to parse through a scientific article and highlight key words, phrases, and ideas in an easy-to-understand way. This idea came from our collective frustration with reading through dense, scientific-jargon-heavy articles and having trouble understanding the procedures or the results. We wanted to make these scientific reports more accessible to people who may not have a scientific background or who don't know the specific or niche terminology. </p>
		<p>The idea is to have someone upload a file of the article they want to understand, then application will output a set of keywords and ideas for the user to then easily read and understand. Then, if the user wants to read through the article, they will know what ideas and words to look out for. </p>
		<p>While we were unable to finish this application in time, we did win the award for Best Domain Name.</p>
		<p>Teammates: Andrew Walsh, Rashid Lasker, Megan Do </p>
		<p>The github repository can be found <a href="https://github.com/rashidlasker/simplisci" target="_blank">here</a>.</p>
	</div>
{% endblock %}
