{% extends '../../performances.html' %}
{% load static %}

{% block title %}
	Cheerleading | Kenneth Chen
{% endblock %}

{% block headingImage %}
	<img src="{% static "personalsite/images/cheer.jpg" %}" alt="Cheer Image" height="140" width="150">
{% endblock %}

{% block breadcrumbs %}
	<li class="breadcrumb-item"><a href="{% url 'performances' %}">Home</a></li>
	{% block lvl2Crumbs %}
    	<li class="breadcrumb-item active" aria-current="page">Cheerleading</li>
    {% endblock %}
{% endblock %}

{% block activeHome %}
{% endblock %}

{% block activeCheer %}
	active
{% endblock %}

{% block performanceContent %}
	<div class="Performances">
		<h2>Cheerleading</h2>
		<p>In my sophomore year in high school, a lab partner in my summer chemistry class (somewhat forcefully) brought me to the final day of cheerleading tryouts. Not only was I terrified of what other people would think of me (a guy in a typically girls' sport), but I was also afraid I would embarrass myself in front of everyone. To my surprise, there were already three other guys on the team and they helped guide me through all the movements and jumps, though I still embarressed myself in front of the coaches. That day, and throughout the rest of my first season, I learned that cheerleading isn't just looking pretty on the sidelines of football games, but involves stunting, tumbling, sharp motions, and a lot of physical strength. Think about how much force it takes to lift a 100 lb. person 7 feet off the ground.</p>
		<p>With my background in martial arts, I picked up many of the skills quickly, especially jumps, though I had to overcome fear and a mental block to learn how to tumble. In my three-years of cheerleading, I worked with three different coaches, became captain and head stuntman, and earned two Most Valuable Player awards. Reflecting back, joining cheer was the best decision I made in high school. I made so many close friends, learned how to work in a team and rely on others, overcame fears, and picked up skills I still use today in Wushu.</p>
		<p>Check out photos and videos from every year.</p>
		<div class="Performances-categories">
			<a href="{% url 'cheer2013' %}" class="ImageButton btn btn-outline-primary" role="button">
				2013 Season
				<img src="{% static "personalsite/images/cheer2013.jpg" %}" alt="Cheer 2013 Image">
			</a>
			<a href="{% url 'cheer2014' %}" class="ImageButton btn btn-outline-primary" role="button">
				2014 Season
				<img src="{% static "personalsite/images/cheer2014.jpg" %}" alt="Cheer 2014 Image">
			</a>
			<a href="{% url 'cheer2015' %}" class="ImageButton btn btn-outline-primary" role="button">
				2015 Season
				<img src="{% static "personalsite/images/cheer2015.jpg" %}" alt="Cheer 2015 Image">
			</a>
		</div>
	</div>
{% endblock %}