{% extends 'base.html' %}
{% load static %}

{% block title %}
	About | Kenneth Chen
{% endblock %}

{% block headingImage %}
	<img src="{% static "personalsite/images/about.jpg" %}" alt="About Image" height="140" width="150">
{% endblock %}

{% block heading %}
	About Me
{% endblock %}

{% block intro %}
	Get to know me, what I enjoy, and whatever else I choose to talk about.
{% endblock %}

{% block content %}
	<div class="About-content">
<h2>Hello and welcome again to my website!</h2>
<h4>I’m super excited you have decided to come here to explore who I am, what I do, and what I hope to do in the future.</h4>
I am a third-year student at the University of Virginia double majoring in computer science and psychology and minoring in Applied Mathematics. Evidently, my CS and psychology double major means I’ll be building robots to take over the world, at least according to my sister. I’m primarily focusing on computer science since I want to do something CS-related in the future while psychology is something I find interesting and is something cool to learn on the side. I’ve always been interested in learning how people learn and process information, though I don’t plan on reading minds anytime soon.

My enjoyment for Computer Science and programming is the classic and often-repeated one: I liked math and science in elementary and middle schools, took a programming class in high school and loved it, wanted to do it ever since. I think of programming as the logical next-step in the problem-solving subject line after math; they both require using critical thinking and concepts you learn before to solve sometimes new problems. However, I enjoy programming much more because it is more useful nowadays in this age of technology and software. Through learning programming, I have been able to write algorithms, build webpages and games, and even solve my statistics homework without needing a calculator. 

In terms of applying my CS degree and getting a job, I don’t have a particular field of CS I’m really interested in. Through the different projects I’ve worked on (which you can view <a href="{% url 'projects' %}">here</a>), I am definitely interested in game and web development, but I don’t want to restrict myself to just that. I have yet to take classes outside of the major-requirements so I’m looking forward to expanding my horizons these next few semesters.

Outside of studying and school, I love doing Wushu. For those unfamiliar, Wushu is a performance-based Chinese martial art that focuses on learning and mastering fairly basic skills and combining them into forms. We also learn how to handle weapons from swords to spears to even chain whips. I started doing Wushu when I was in elementary school and I love learning new tricks and weapons and wowing others with performances. I have joined UVA’s Wushu club hoping to learn and practice more and have since taken roles as coach and choreographer. If you would like to view some performances I’ve been a part of, click <a href="{% url 'wushu' %}">here</a>.

Before coming to college and doing Wushu, I was actually a cheerleader for my high school. This has been my go-to fun fact for any icebreaker and it tends to get quite a few reactions. Becoming a part of a female-dominated sport and going against stereotypes has helped shape me both as a person and as a leader once I became a captain and head-stuntman. I’ve learned how to work in a team and trust other people, as this was the first time I participated in a team-based sport, as well as give and take criticisms from both coaches and teammates. Without a doubt, cheering was one of the best and most formative activities I’ve ever been a part of and my only regret is not joining sooner. Check out some pictures and videos <a href="{% url 'cheer' %}">here</a>.

Thank you for taking the time to get to know me! If you have any further questions, feel free to contact me <a href="{% url 'contact' %}">here</a> and I will get back to you as soon as possible. Further, I am also willing to admit I am more a web developer rather than a web designer; if you have any critiques about how my site is laid out or works, feel free to contact me there as well.

Thanks again for your time!
	</div>
{% endblock %}