{% extends 'base.html' %}
{% load static %}

{% block title %}
	Contact | Kenneth Chen
{% endblock %}

{% block headingImage %}
	<img src="{% static "personalsite/images/contactImage.jpg" %}" alt="Profile Image" height="140" width="140">
{% endblock %}

{% block heading %}
	Contact Me
{% endblock %}

{% block intro %}
	Please let me know if you have any thoughts on the content or design of my website. Please make any criticisms constructive so that I know where I need to improve and change.
{% endblock %}

{% block content %}
	{% if request.GET.sent %}
		{% if request.GET.sent == 'true' %}
			<div style="background-color: lime; text-align: center;">
				<p>Email Successfully Sent!</p>
			</div>
		{% else %}
			<div style="background-color: red; text-align: center;">
				<p>Error Sending Email</p>
			</div>
		{% endif %}
	{% endif %}

	<form action="{%  url 'send_email' %}" method="post" class="Form">
		{% csrf_token %}
		<div class="form-group">
		    <label for="name">Name</label>
		    <input type="text" class="form-control" name="name" placeholder="Enter name">
		</div>

		<div class="form-group">
		    <label for="email">Email Address</label>
		    <input type="email" class="form-control" name="email" placeholder="Enter email">
		</div>

		<div class="form-group">
		    <label for="message">Message</label>
		    <textarea rows="10" cols="75" class="form-control" name="message"></textarea>
		</div>
		
		<button type="submit" class="btn btn-primary btn-block">Submit</button>
	</form>
{% endblock %}