{% extends 'base.html' %}
{% load static %}

{% block title %}
	Home | Kenneth Chen
{% endblock %}

{% block headingImage %}
	<img src="{% static "personalsite/images/welcomeImage.jpg" %}" alt="Welcome Image" height="140" width="140">
{% endblock %}

{% block heading %}
	Welcome to My Website!
{% endblock %}

{% block intro %}
	My name is Kenneth Chen. I’m a student at the University of Virginia studying computer science. Outside of school, I enjoy doing martial arts, playing and building video games, and exploring the wide Star Wars galaxy.
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4 Home-column">
          	<h3>Projects</h3>
          	<p>
          		If you're interested in seeing the projects I've worked on
          	</p>
          	<a href="{% url 'projects' %}" class="ImageButton-home btn btn-outline-primary" role="button">
				Click Here
				<img src="{% static "personalsite/images/projectsHome.png" %}" alt="Projects Compilation">
			</a>
        </div>
        <div class="col-md-4 Home-column">
          	<h3>Resume</h3>
          	<p>
          		If you're interested in viewing my professional resume
          	</p>
          	<a href="{% url 'resume' %}" class="ImageButton-home btn btn-outline-primary" role="button">
				Click Here
				<img src="{% static "personalsite/images/resumeHome.png" %}" alt="Resume Compilation">
			</a>
        </div>
        <div class="col-md-4 Home-column">
          	<h3>Performances</h3>
          	<p>
          		If you're interested in checking out my performing arts side
          	</p>
          	<a href="{% url 'performances' %}" class="ImageButton-home btn btn-outline-primary" role="button">
				Click Here
				<img src="{% static "personalsite/images/performanceHome.png" %}" alt="Wushu and Cheer">
			</a>
        </div>      
    </div>
{% endblock %}