{% extends 'base.html' %}
{% load static %}

{% block title %}
	Resume | Kenneth Chen
{% endblock %}

{% block headingImage %}
	<img src="{% static "personalsite/images/profile.jpg" %}" alt="Profile Image">
{% endblock %}

{% block heading %}
	Resume
{% endblock %}

{% block intro %}
	See the work experience and technical skills I've accumulated through the years.
	If you would like to download a PDF of my resume, click <a href="{% static 'KennethChenResume.pdf' %}" download>here</a>.
{% endblock %}

{% block content %}
	<div class="Resume">
		<div class="Resume-header">
			<div class="Resume-schoolAddress Address">
				<h3>School Address:</h3>
				<p class="Address-line1">2100 Jefferson Park Ave APT 1</p>
				<p class="Address-line2">Charlottesville, VA 22903</p>
			</div>
			<div class="Resume-title">
				<h1>Kenneth Chen</h1>
				<p class="Resume-email">kchen.mail@icloud.com</p>
				<p>571-267-1911</p>
			</div>
			<div class="Resume-homeAddress Address">
				<h3>Permanent Address:</h3>
				<p class="Address-line1">951 Preserve Ct.</p>
				<p class="Address-line2">Great Falls, VA 22066</p>
			</div>
		</div>
		<div class="Resume-education">
			<h3 class="Resume-sectionHeader">Education</h3>
			<div class="Resume-entry">
				<p class="Resume-schoolName">University of Virginia School of Engineering and Applied Science <span class="Resume-GPA">(Current GPA: 3.899)</span></p>
				<p class="Resume-entryTime">May 2020 Grad</p>
				<p class="Resume-majors">Computer Science and Psychology Double Major, Applied Mathematics Minor</p>
				<p class="Resume-classes"><i>Relevant Classwork:</i> Intro to Cybersecurity, Machine Learning, Database Systems</p>
			</div>
			<div class="Resume-entry">
				<p class="Resume-schoolName">Thomas Jefferson High School for Science and Technology <span class="Resume-GPA">(Final GPA: 4.456)</span></p>
				<p class="Resume-entryTime">Sept. 2012- June 2016</p>
			</div>
		</div>
		<div class="Resume-technical">
			<h3 class="Resume-sectionHeader">Technical Skills</h3>
			<div class="Resume-skills">
				<p><span class="Resume-skillTitle">Proficient: </span>Java, Go, HTML, CSS/SCSS, Python, Unity, C#, Javascript, C++, C, Django, Soy Templates, Agile, Git</p>
				<p><span class="Resume-skillTitle">Novice: </span>SQL, JIRA, Jenkins, x86 Assembly, Android Studio, Heroku</p>
			</div>
		</div>
		<div class="Resume-work">
			<h3 class="Resume-sectionHeader">Work Experience</h3>
			<div class="Resume-entry">
				<div class="Resume-entryName">
					<p class="Resume-employerName">Yext Tysons Corner</p>
					<p class="Resume-jobTitle">Software Engineering Intern</p>
				</div>
				<p class="Resume-entryTime">June 2019 - August 2019</p>
				<ul class="Resume-entryDescription">
					<li>Implemented processes to load client data into our platform so clients don’t need to manually add thousands of entities</li> 
					<li>Created dashboard to display site views per employee based on Git contribution to track work over time</li>
					<li>Updated team family tree to help new employees learn about their coworkers</li>
					<li>Skills Used: <span class="Resume-skillsUsed">HTML, CSS, Javascript, Go, Git, JIRA, Agile, SQL</span></li>
				</ul>
			</div>
			<div class="Resume-entry">
				<div class="Resume-entryName">
					<p class="Resume-employerName">University of Virginia Department of Computer Science</p>
					<p class="Resume-jobTitle">Head Teaching Assistant for CS 2110: Software Development Methods</p>
				</div>
				<p class="Resume-entryTime">Sept. 2017-Present</p>
				<ul class="Resume-entryDescription">
					<li>Create lectures for and redesign labs, hold office hours, assist professors in class, assist with exam and homework grading</li>
					<li>Skills Used: <span class="Resume-skillsUsed">Java</span></li>
				</ul>
			</div>
			<div class="Resume-entry">
				<div class="Resume-entryName">
					<p class="Resume-employerName">Yext Tysons Corner</p>
					<p class="Resume-jobTitle">Software Engineering Intern</p>
				</div>
				<p class="Resume-entryTime">June 2018 - August 2018</p>
				<ul class="Resume-entryDescription">
					<li>Fixed bugs and restructured components on client sites by their request</li>
					<li>Developed and implemented automated unit testing on client site for pre-deployment verification</li>
					<li>Built slack-extension to automatically create work items directly within slack thread for more efficient item creation.</li>
					<li>Skills Used: <span class="Resume-skillsUsed">HTML, CSS, Javascript, Go</span></li>
				</ul>
			</div>
			<div class="Resume-entry">
				<div class="Resume-entryName">
					<p class="Resume-employerName">Naval Surface Warfare Center Dahlgren Division</p>
					<p class="Resume-jobTitle">Computer Science Intern</p>
				</div>
				<p class="Resume-entryTime">May 2017 - August 2017</p>
				<ul class="Resume-entryDescription">
					<li>Programmed behaviors of component systems and environmental entities for simulation to test new laser weapons system</li>
					<li>Skills Used: <span class="Resume-skillsUsed">C#, Unity</span></li>
				</ul>
			</div>
		</div>
		<div class="Resume-projects">
			<h3 class="Resume-sectionHeader">Projects</h3>
			<div class="Resume-entry">
				<div class="Resume-entryName">
					<p class="Resume-projectName">Traffic Predictor Model</p>
				</div>
				<p class="Resume-entryTime">Jan 2019 - May 2019</p>
				<ul class="Resume-entryDescription">
					<li>Trained machine learning model to predict a road’s average daily traffic based on road conditions, length, and other data.</li>
					<li>Skills Used: <span class="Resume-skillsUsed">Python, Machine Learning, Scikit-Learn, Jupyter Notebook</span></li>
				</ul>
			</div>
			<div class="Resume-entry">
				<div class="Resume-entryName">
					<p class="Resume-projectName">Textbook Marketplace</p>
					<p class="Resume-jobTitle">Team Scrum Master</p>
				</div>
				<p class="Resume-entryTime">Sept. 2018 - Dec 2018</p>
				<ul class="Resume-entryDescription">
					<li>Web application for students to buy and sell used textbooks. Built searching and filtering functionality</li>
					<li>Assigned weekly work for team and lead standup meetings</li>
					<li>Skills Used: <span class="Resume-skillsUsed">Django, Heroku, HTML, CSS</span>. Link: <a href="http://textbook-finder.herokuapp.com/">here</a></li>
				</ul>
			</div>
			<div class="Resume-entry">
				<div class="Resume-entryName">
					<p class="Resume-projectName">Various Game (Kin, Dusk Patrol, Bard's Tale)</p>
					<p class="Resume-jobTitle">Senior Programmer</p>
				</div>
				<p class="Resume-entryTime">Sept. 2016 - May 2019</p>
				<ul class="Resume-entryDescription">
					<li>Designed and implemented game systems including enemy movements, spell casting, and time travel.</li>
					<li>Skills Used: Unity, C#. Link: <a href="{% url 'sgd' %}">here</a>.</li>
				</ul>
			</div>
		</div>
		<div class="Resume-activities">
			<h3 class="Resume-sectionHeader">Extracurricular Activities</h3>
			<div class="Resume-entry">
				<div class="Resume-entryName">
					<p class="Resume-projectName">Virginia Wushu Club: <span class="Resume-activityPosition">President</span></p>
				</div>
				<p class="Resume-entryTime">Sept. 2016 - Present</p>
				<p class="Resume-activityDescription">Learn and teach others Chinese martial arts by leading practices and helping to choreograph performances. Check out our performances <a href="{% url 'wushu' %}">here</a>.</p>
			</div>
			<div class="Resume-entry">
				<div class="Resume-entryName">
					<p class="Resume-projectName">Student Game Developers: <span class="Resume-activityPosition">Senior Programmer</span></p>
				</div>
				<p class="Resume-entryTime">Sept. 2016 - Present</p>
				<p class="Resume-activityDescription">Programmed the artificial intelligence behaviors for NPCs and enemies and implemented general features in games. For list of games I've worked on, click <a href="{% url 'sgd' %}">here</a>.</p>
			</div>
			<div class="Resume-activityEntry">
				<p class="Resume-activityName">HackUVA: <span class="Resume-activityPosition">Participant</span></p>
				<p class="Resume-activityDescription">Worked on projects including Face Normalizer to reduce bias and Simplisci to make scientific papers easier to read. For more details, click <a href="{% url 'hoohacks' %}">here</a>.</p>
			</div>
		</div>
	</div>
{% endblock %}