{% extends './wushu.html' %}
{% load static %}

{% block title %}
	Collegiates | Kenneth Chen
{% endblock %}

{% block lvl2Crumbs %}
	<li class="breadcrumb-item"><a href="{% url 'wushu' %}">Wushu</a></li>
    <li class="breadcrumb-item active" aria-current="page">Collegiates</li>
{% endblock %}

{% block performanceContent %}
	<div class="Collegiates">
		<h2>Collegiates</h2>
		<p>Collegiates is an annual Wushu competition organized by the Collegiate Wushu Committee, which is a group of college Wushu club leaders from around the nation lead by some club coaches and competition judges, that vote on and discuss when and where to host the competition as well as any changes to rules and scoring that need to be made.</p>
		This past year was the first Collegiates competition I attended at the University of Pittsburg, where I received one gold medal and two silvers. Check out these videos of my performances. (video credits to Mitchell Levasseur)
		</p>
		<div class="Video-videoGroup">
			<h3 class="Video-videoTitle">LongFist Barehand</h3>
			<div class="embed-responsive embed-responsive-16by9">
				<iframe width="1519" height="554" src="https://www.youtube.com/embed/IRshOHnrPEc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>

		<div class="Video-videoGroup">
			<h3 class="Video-videoTitle">Straight Sword</h3>
			<div class="embed-responsive embed-responsive-16by9">
				<iframe width="1519" height="554" src="https://www.youtube.com/embed/PxhDFn1lwjQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>

		<div class="Video-videoGroup">
			<h3 class="Video-videoTitle">Spear</h3>
			<div class="embed-responsive embed-responsive-16by9">
				<iframe width="1519" height="554" src="https://www.youtube.com/embed/A-SCmrwNlXU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
		
	</div>
{% endblock %}
