{% extends './wushu.html' %}
{% load static %}

{% block title %}
	Demos | Kenneth Chen
{% endblock %}

{% block lvl2Crumbs %}
	<li class="breadcrumb-item"><a href="{% url 'wushu' %}">Wushu</a></li>
    <li class="breadcrumb-item active" aria-current="page">Demos</li>
{% endblock %}

{% block performanceContent %}
	<div class="Demos">
		<h2>Demos</h2>
		<p>Throughout the school year, our club is asked to perform for certain events. As vice president of the club, it is then my job to choreograph and mix music for these performances. Here are some notable performances that I have been a part of.
		</p>
		<div class="Demo-group">
			<h4>Full-Moon Fest</h4>
			<p>Full-Moon Fest is an event hosted by the Chinese Student Association (CSA) occuring around early-mid September that celebrates the Mid-Autumn Festival, albeit a few months late. While they have their own dances and skits that tell classic Chinese stories, our club is often brought in as guests performers. </p>
			<p>Check out these videos from our performance in 2017. Videos from other years are unfortunately only posted in our closed Facebook group, so I am unable to link them here.</p>
			<div class="embed-responsive embed-responsive-16by9">
				<iframe width="1519" height="554" src="https://www.youtube.com/embed/A38zxiRSfF8?list=PL1otiq-z8nIB07KYwhNCHtCSRPTqB1uxL" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
		<div class="Demo-group">
			<h4>CultureFest</h4>
			<p>CultureFest is an event organized by the University Programs Council and features performances from many of the different cultural and performance clubs, such as Vietnamese Student Association, Salsa Club, and us. This is typically one of our bigger performances since more of the university attends. </p>
			<p>Check out this video of our performance from 2016. Unfortunately, rain prevented us from performing in 2017 and we have no video from 2018 CultureFest.</p>
			<div class="embed-responsive embed-responsive-16by9">
				<iframe width="1519" height="554" src="https://www.youtube.com/embed/RRQIGNjxd40?list=PL1otiq-z8nIB07KYwhNCHtCSRPTqB1uxL" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
		<div class="Demo-group">
			<h4>ChinaFest</h4>
			<p>ChinaFest is another event hosted by CSA occuring in early-mid February that celebrates Chinese New Year. Unlike our other performances, we often center this one around a story, hopefully one well-known enough such that the audience can figure it out. If not, the MCs give it away while they introduce us anyway.</p>
			<p>Check out our performances from these past two years.</p>
			<div class="Demo-video">
				<h6>2017 Performance (based on Star Wars: Rogue One)</h6>
				<div class="embed-responsive embed-responsive-16by9">
					<iframe width="1519" height="554" src="https://www.youtube.com/embed/uX1yY1Srxw0?list=PL1otiq-z8nIB07KYwhNCHtCSRPTqB1uxL" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="Demo-group">
				<h6>2018 Performance (based on Disney's Mulan)</h6>
				<div class="embed-responsive embed-responsive-16by9">
					<iframe width="1519" height="554" src="https://www.youtube.com/embed/0i2LT9lMauA?list=PL1otiq-z8nIB07KYwhNCHtCSRPTqB1uxL" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
